::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

li:last-of-type {
  margin: 0;
}
